<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Core">
      <directory>src/tmtm/Habrahabr_api/Tests/</directory>
    </testsuite>
    <testsuite name="Resources">
      <directory>src/tmtm/Habrahabr_api/Resources/Tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
